.progresses{
    height: 22px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 20px;
}
.bar{
    background-color: lime;
    height: 100%;
    width: 0%;
    border-radius: 20px;
    transition: all 1s ease;
}